trash/
# Mac OS
.DS_Store
*.bak
# Gradle
.gradle/
build/
.gradle
build
gradle-app.setting
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
# Cache of project
.gradletasknamecache
# Eclipse
.classpath
.project
.settings
bin/
.settings/
/bin/
/*/bin
# IntelliJ IDEA
.idea/
out/
*.iml
*.ipr
*.iws
*.uml
**/.idea/*
!/.idea/icon.png
!/.idea/vcs.xml
/out/
/*/out/
# Visual Studio Code
.vscode/
# Emacs
.#*
# Compiled class file
*.class
# Log file
*.log
# BlueJ files
*.ctxt
# Mobile Tools for Java (J2ME)
.mtj.tmp/
# Package Files #
*.jar
# however, do not ignore dependencies in localMavenRepo
!localMavenRepo/**/*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar
# virtual machine crash logs,
# see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
# Misc
*.graphml
coverage.db*
.metadata
/.sdkmanrc
checksums*
gradle/plugins/.gradle/8.2.1/executionHistory/executionHistory.bin
gradle/plugins/.gradle/8.2.1/executionHistory/executionHistory.lock
gradle/plugins/.gradle/buildOutputCleanup/buildOutputCleanup.lock
gradle/plugins/.gradle/buildOutputCleanup/outputFiles.bin
*.lock
*.bin
